In [54]:
import pandas as pd
import os
import numpy as np
import glob
from IPython.display import display

In [64]:
import os
os.environ["KAGGLE_CONFIG_DIR"] = "."

from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [65]:
api.dataset_download_files(
    'anvitkumar/shopping-dataset',
    path='./data',                      
    unzip=True                       
)

print("Dataset downloaded successfully!")

Dataset URL: https://www.kaggle.com/datasets/anvitkumar/shopping-dataset
Dataset downloaded successfully!

In [66]:
folder_path = "data/"

# Find all CSV files
all_files = glob.glob(os.path.join(folder_path, "*.csv"))

# Dictionary to store dataframes separately
dfs_dict = {}

for file in all_files:
    df = pd.read_csv(file)
    file_name = os.path.basename(file)
    dfs_dict[file_name] = df


# Get a list of all CSV files in the folder
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

# Read all CSVs into a list of dataframes
dfs = [pd.read_csv(f) for f in csv_files]

# Merge all dataframes on 'product_id', keeping all columns
# If there are duplicate product_ids, this will merge the rows
merged_df = pd.concat(dfs, ignore_index=True)

# Optional: drop exact duplicate rows (keeping first occurrence)
merged_df = merged_df.drop_duplicates(subset=['product_id'], keep='first')

In [67]:
merged_df.duplicated().sum()

np.int64(0)

In [68]:
merged_df.count()

product_id                1000
title                     1000
product_description       1000
rating                    1000
ratings_count             1000
initial_price             1000
discount                   879
final_price               1000
currency                  1000
images                    1000
delivery_options          1000
product_details           1000
breadcrumbs               1000
product_specifications    1000
amount_of_stars           1000
what_customers_said        427
seller_name                699
sizes                     1000
videos                     219
seller_information         699
variations                 438
best_offer                1000
more_offers               1000
category                  1000
dtype: int64

In [70]:
merged_df.info()
merged_df.describe(include='all')
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 1085
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   product_id              1000 non-null   int64
 1   title                   1000 non-null   object
 2   product_description     1000 non-null   object
 3   rating                  1000 non-null   float64
 4   ratings_count           1000 non-null   int64
 5   initial_price           1000 non-null   float64
 6   discount                879 non-null    float64
 7   final_price             1000 non-null   object
 8   currency                1000 non-null   object
 9   images                  1000 non-null   object
 10  delivery_options        1000 non-null   object
 11  product_details         1000 non-null   object
 12  breadcrumbs             1000 non-null   object
 13  product_specifications  1000 non-null   object
 14  amount_of_stars         1000 non-null   object
 15  what_customers_said     427 non-null    object
 16  seller_name             699 non-null    object
 17  sizes                   1000 non-null   object
 18  videos                  219 non-null    object
 19  seller_information      699 non-null    object
 20  variations              438 non-null    object
 21  best_offer              1000 non-null   object
 22  more_offers             1000 non-null   object
 23  category                1000 non-null   object
dtypes: float64(3), int64(2), object(19)
memory usage: 195.3+ KB

,product_id,title,product_description,rating,ratings_count,initial_price,discount,final_price,currency,images,...,amount_of_stars,what_customers_said,seller_name,sizes,videos,seller_information,variations,best_offer,more_offers,category
0,8376765,Lino Perros,Women Navy Blue Solid Backpack,3.8,15,3995.0,58.0,"""₹3,995.00""",INR,http://assets.myntassets.com/assets/images/837...,...,"{""1_star"":2,""2_stars"":0,""3_stars"":3,""4_stars"":...",NaN,NaN,"[{""size"":""Onesize""}]","[""rw-8376765_cae700""]",NaN,[{}],{},"[{""offer_name"":""10% Instant Discount on Citi C...",backpacks
1,9136281,Tommy Hilfiger,Unisex Navy Blue Striped Backpack,4.5,67,2899.0,35.0,"""₹2,899.00""",INR,http://assets.myntassets.com/assets/images/913...,...,"{""1_star"":3,""2_stars"":4,""3_stars"":2,""4_stars"":...",NaN,NaN,"[{""size"":""Onesize""}]","[""rw-9136281_cae700""]",NaN,"[{},{}]",{},"[{""offer_name"":""10% Instant Discount on Citi C...",backpacks
2,17633752,Lavie,Aries Women Pink Mini Backpack,4.4,226,2999.0,65.0,"""₹2,999.00""",INR,http://assets.myntassets.com/assets/images/176...,...,"{""1_star"":9,""2_stars"":5,""3_stars"":10,""4_stars""...",NaN,NaN,"[{""size"":""S""}]","[""https://videos.myntassets.com/assets/videos/...",NaN,"[{},{},{},{},{},{}]",{},"[{""offer_name"":""10% Instant Discount on Citi C...",backpacks
3,1376949,F Gear,Unisex Navy & Grey Printed Burner Backpack,4.4,1052,1675.0,52.0,"""₹1,675.00""",INR,http://assets.myntassets.com/assets/images/137...,...,"{""1_star"":33,""2_stars"":21,""3_stars"":69,""4_star...",NaN,NaN,"[{""size"":""Onesize""}]","[""https://videos.myntassets.com/assets/videos/...",NaN,NaN,{},"[{""offer_name"":""10% Instant Discount on Citi C...",backpacks
4,13939916,MYTRIDENT,Men Blue Solid Bath Robe,4.7,12,2899.0,17.0,"""₹2,899.00""",INR,http://assets.myntassets.com/assets/images/pro...,...,"{""1_star"":0,""2_stars"":0,""3_stars"":0,""4_stars"":...",NaN,NaN,"[{""size"":""M"",""value"":""45.0in"",""value_name"":""Fr...",NaN,NaN,"[{},{},{},{},{},{},{},{},{},{},{},{},{},{}]",{},"[{""offer_name"":""10% Instant Discount on IndusI...",bath-robe